
.subpage{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px 80px;
}
.container{
    width: 700px;
    min-height: 300px;
    padding: 20px 20px;
    /* box-shadow: 2px 2px 10px gray; */
}
.returnbtn{
   text-decoration: none;
   background: #10B981;
   border-radius: 4px 4px ;
   padding: 3px 5px;
   margin: 40px 0 10px 0;
   color: white;
}
.name{
    text-align: center;
    margin-bottom: 40px;
}
.drinkDetail{
   display: flex;
   gap: 30px;
    
}
.drinkimg img{
    width: 248px;
    height: 248px;
}
span {
    background: #6EE7B7;
    padding: 3px;
    border-radius: 2px;
    font-weight: 600;
    margin-right: 4px;
}
p{

    font-weight: 500;
    margin-bottom: 15px;
}