*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.CardContainer{
    padding: 20px;
   max-width: max-content;
   display: flex;
   border: 1px solid black;
   gap: 20px;
}
.Avatar img{
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    border-radius: 50%;
}
.details{
   display: flex;
   gap: 20px;
   margin:50px 20px;
}
.btn{
    display: flex;
   align-items: center;
  
}
.btn button{
    background-color: rgba(189, 189, 188, 0.945);
    padding: 6px;
    border-radius: 4px;
}
.username{
    margin: 5px 10px;
}