*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}
nav ul{
    display: flex;
    list-style: none;
    
}
nav ul li{
    margin: 10px;
    color: white;
    font-size: 20px;
}
nav a{
    text-decoration: none;
}
.content{
    display: flex;
    margin: 30px 20px;

}
.row1{
    flex-basis: 40%;
}
.row2{
    flex-basis: 40%;
}